@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito+Sans:ital,opsz@1,6..12&family=Roboto+Mono&display=swap');
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #222222 !important;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  flex-wrap: wrap;
}
.home-card{
  border:2px solid #39FF14;
  background-color: #3a3939;
  color:#EBEBEB;
  display: flex;
  min-width:45%;
  max-width: 45%;
  min-height: 300px;
  max-height: 300px;
  /* font-size: 2rem; */
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto Mono', monospace;

}
.left h2{
  color: rgb(126, 249, 220);
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
  max-width: 50%;
  justify-content: center ;
}
.right{
  min-width:50%;
  max-width: 50%;
}
.right img{
  width:75%;
}

.auth{
  display: flex;
  width:80%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid black;
  border: 80%;

}

.login{
  display: flex;
  justify-self: center;
  align-items: center;
  width:50%;
  margin: 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
  padding:5rem;
}

.question{
  border-bottom:1px solid rgb(87, 86, 86);
  width:70%;
  padding:10px 20px;
  display: flex;
  align-items:center;
  justify-content: space-between;

}
.bg-green{
  background-color: rgb(31, 80, 31);
  text-decoration: none;
  color: #222222;
}
a{
  color:rgb(171, 171, 248) !important;
}
.question-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-family: 'Roboto Mono', monospace;
  font-size: large;

}
.question-list h2{
  margin-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color: #39e9e0;
}
.progress-container{
  width:85%;
}
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5rem;
  accent-color: rgb(19, 0, 128);
}

input[type="checkbox"]:hover {
  color: rgb(9, 142, 89);
}

.title{
  padding: 1rem;
  margin-top:1rem;
}
.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
color: #7070fb;
font-size: 5rem !important;
}
.home-container img{
  width:90px;
  height: 90px;
  margin-right: 1rem;
  border-radius: 50%;
}

.value{
  margin-top:10px;
  font-size: 1.6rem;
  color: rgb(56, 233, 174);
}

.topic-title{
  border-bottom:0.5px solid rgb(82, 81, 81);
  padding:1rem;
 

}
.topic-title h4{
  margin-top:15px;
  color: #b3b3fb;
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
}
.form{
}
.form-label{
  color:aqua;
  position: absolute;
}


.input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}
.input input{
  display: block;
  width:30%;
  padding : 0.7rem;
  font-size: larger;
  margin: 1rem 0;
  border-radius: 10px;
  background: none;
  background-color: rgb(185, 255, 255)  !important;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  border:4px solid rgb(0, 0, 12) !important;

}

.input input:focus{
  border:4px solid rgb(82, 131, 244) !important;
}

.btn{
  width:30%;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background-color: #88fbf5 !important;
  margin-top: 2rem;
  font-size: 1.1rem !important;
}
@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba(125, 255, 253, 0.3) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba(125, 238, 255, 0.5) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba(125, 227, 255, 0.8) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, rgb(136, 255, 255) 99%, #fff 100%, #fff 100%);
  }
}

button {
  margin-left: calc( 50vw - 175px );
  margin-top: calc( 50vh - 30px );
  width: 350px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: #fff;
  font-weight: bold;
  font-size: 1.1em;
  color: #666;
  box-shadow: 0 6px 6px #06f;
  outline: none;
}
button:active {
  /* set time duration to your needs */
  animation: gradient 100ms;
  background: rgb(61, 204, 190);
  color: #fff;
  box-shadow: none;
}

.cross{
  margin-left: auto;
  margin-top:5px;
  margin-right:5px;
  font-size: larger;
  background-color: #222222;
  color: wheat;

}
.popup{
  background-color: #212121 !important;
  border-radius: 10px;
  color: rgb(165, 46, 46) !important;
  font-size: x-large;
}

.popup-body{
  background-color: #191818;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.btn-close{
  color:rgb(154, 16, 16) !important;
}

.go-to-main{
  cursor: pointer;
}
.go-to-main:hover{
  color:#888a88;
}

#loading{
  width:100px;
  height:100px;
  overflow: hidden;
  margin:1rem auto;
}

.logout{
  position: fixed;
  bottom:1rem;
  right:0.8rem;
  padding: 10px 15px;
  border:1px solid rgb(129, 128, 128);
  color: #7070fb;
  border-radius: 10px;
  z-index:10;
  cursor: pointer;
}

.bottom-content{
  margin-top:20px;
  color: #9e9e9f;
}

.bottom-content span{
  color: rgb(116, 172, 255);
  cursor: pointer;
}

.footer{
  padding:2rem;
  letter-spacing: 2px;
  color: #39e9e0;
  font-size: larger;
  
}

.home-card:hover{
  box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(251, 250, 250, 0.1);

}